{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(node:(.*)$)|^(fs$)|^(path$)|^(http$)|^(crypto$)",
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^\\.\\./(.*)",
    "^\\./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}
